.team-main {
    background-color: var(--additional-bgc);
}

.team-main__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px; 
    line-height: 1.18;
    text-align: center;
}

.team-main__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-main__work {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}
.team-main__foto {
    background-color: var(--primary-bgc);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
    .team-main__foto:not(:last-child) {
        margin-bottom: 30px;
    }
}
.team-main__section {
    padding-top: 30px;
    padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
    .team-main__items {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        flex-basis: calc((100% - 30px)/2);
    }
}
@media screen and (min-width: 1200px) {
    .team-main__title {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
    }
    .team-main__section {
        padding-bottom: 30px;
    }
    .team-main__items {
        flex-basis: calc((100% - 90px)/4);
    }
}


